Package: com.chr1s.current
Name: Current
Version: 1.0.5
Architecture: iphoneos-arm
Description: Wave battery indicator
Maintainer: Chr1s
Icon: https://repo.chr1s.dev/assets/Current/icon.png
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>= 1.15.1), ws.hbang.alderis (>= 1.1)
